html {
  font-family: Arial;
}

h1 {
  text-align: center;
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
}

h2 {
  font-weight: bold;
}

.forecast {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

span {
  padding: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  font-size: 20px;
}
